@import "../../../../styles.scss";

/*logo*/

.logo {
    font-family: $headingFont;
    font-weight: 700;
    font-size: 2rem;
    cursor: pointer;

    span {
        font-family: $headingFont;
        font-weight: 700;
        color: #ff0000;
    }
}

/*nav*/

.nav-link {
    color: #000;
    position: relative;

    &::before {
        content: '';
        position: absolute;
        bottom: 0;
        right: 0;
        width: 0;
        height: 2px;
        background-color: #ff0000;
        transition: width 0.3s cubic-bezier(0.25, 1, 0.5, 1);
    }
}

@media (hover: hover) and (pointer: fine) {
    .nav-link:hover::before {
        left: 0;
        right: auto;
        width: 100%;
    }
}

/*header buttons*/

.header-buttons {
    font-size: 1rem;
    color: #fff;
    background: #ff0000;

    &:hover {
        background: #DA0000;
    }
}