.card {
    width: 250px;
    border-radius: 0rem 3rem 0rem 3rem;

    p {
        margin: 0;
    }

    img {
        height: 200px;
    border-radius: 0rem 3rem 0rem 0rem;

    }

    .card-title {
        font-weight: bold;
    }

    .card-title,
    .card-price,
    .card-address,
    .card-desc,
    .card-date {
        font-size: .8rem;
    }
}