@import "../../../../../styles.scss";

.container-fluid {
    background-image: url(https://images.pexels.com/photos/8275513/pexels-photo-8275513.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
    background-size: cover;
}

.card-container {
  margin: auto;
  height: 100vh;
  overflow: hidden !important;
}

.card {
  width: 460px;
  height: 420px;
  background: #fff;
  border-radius: 0.8rem;
  border: 0;

  i {
    font-size: 2rem;
    color: #ff0000;
  }

  h6 {
    font-family: $headingFont;
    font-size: 1.5rem;
    font-weight: 700;
  }

  input {
    height: 35px;
    width: 390px;
    font-size: 0.8rem;
    font-weight: 500;
    border: 1px solid #ccc;
    border-radius: 0.8rem;
    box-shadow: none;
  }

  button {
    background: #ff0000;
    font-weight: 500;
    color: #fff;
    width: 190px;

    &:hover {
      background: #DA0000;
    }

    &:focus {
      box-shadow: none;
  }
  }
}