<footer class="mt-5">
    <div class="container">
        <div class="row py-4">
            <div class="col-6 col-md-3">
                <h5 class="m-0"><span>.</span>house <span>sale</span></h5>
                <p>@2022</p>
                <h6 class="mt-5">Siga-nos</h6>
                <i class="bi bi-facebook me-3"></i>
                <i class="bi bi-instagram me-3"></i>
                <i class="bi bi-twitter me-3"></i>
            </div>
            <div class="col-6 col-md-3">
                 <h6>Cidades</h6>
                 <p class="footer-city-links">Rio de Janeiro</p>
                 <p class="footer-city-links">São Paulo</p>
                 <p class="footer-city-links">Espírito Santo</p>
                 <p class="footer-city-links">Belo Horizonte</p>
                 <p class="footer-city-links">Fortaleza</p>
            </div>
            <div class="col-6 col-md-3 mt-3 mt-md-0">
                <h6>Contatos</h6>
                <p>housesale@gmail.com</p>
                <p>(99) 99999-9999</p>
            </div>
            <div class="col-6 col-md-3 mt-3 mt-md-0 d-flex flex-column">
                <h6>Baixe nosso aplicativo</h6>
                <img class="img-android mb-2" src="https://www.gov.br/inss/pt-br/centrais-de-conteudo/imagens/google-play-badge-1-png/@@images/image.png" alt="">
                <img class="img-apple" src="https://www.gov.br/pt-br/imagens-de-servicos/applestore.png/@@images/image.png" alt="">
            </div>
        </div>
    </div>
</footer>