<app-header></app-header>

<div class="container mt-5">
    <div class="row d-flex align-items-center">
        <div class="col text-center text-lg-start">
            <h1>A realização do seu sonho está aqui!</h1>
            <p>Encontre os melhores lugares ao seu redor com os preços mais baratos e acessíveis. Fácil. Simples.
                Rápido.
            </p>
            <div class="btn title-button">Saber mais</div>
        </div>

        <div class="col-12 col-md-12 col-lg-6 mt-5 mt-lg-0 text-center text-lg-end">
            <div class="title-img">
                <img class="img-fluid"
                    src="https://images.pexels.com/photos/53610/large-home-residential-house-architecture-53610.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
                    alt="">
            </div>
        </div>
    </div>
</div>

<div class="container mt-5">
    <div class="row">
        <div class="col">
            <div class="search py-3 d-flex align-items-center">
                <div class="container">
                    <div class="row">
                        <div class="col-6 col-lg">
                            <h6>Categoria</h6>
                            <select class="form-select" id="inputGroupSelect01">
                                <option value="1">Alugar</option>
                                <option value="2">Comprar</option>
                            </select>
                        </div>
                        <div class="col-6 col-lg">
                            <h6>Tipo de imóvel</h6>
                            <select class="form-select" id="inputGroupSelect01">
                                <option value="1">Alugar</option>
                                <option value="2">Comprar</option>
                            </select>
                        </div>
                        <div class="col">
                            <h6>Cidade</h6>
                            <select class="form-select" id="inputGroupSelect01">
                                <option value="1">Alugar</option>
                                <option value="2">Comprar</option>
                            </select>
                        </div>
                        <div class="col">
                            <h6>Valor</h6>
                            <select class="form-select" id="inputGroupSelect01">
                                <option value="1">Alugar</option>
                                <option value="2">Comprar</option>
                            </select>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
</div>

<div class="container mt-5">
    <div class="row">
        <div class="col">
            <app-houses-for-rent-list></app-houses-for-rent-list>
        </div>
    </div>
</div>

<app-footer></app-footer>